<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trabalho Hotel</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                    
                    <li><a class="button" href="/register/Userlogin?option=insert">Sign Up</a></li>  <!-- teste............jh -->
                    
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/hoteis">Hoteis</a></li>
                    
                   
                    <li><a class="button" href="/submenu?subm=Quarto">Quarto</a></li>
                                         
                    <li><a class="button" href="/gform/Userlogin">User</a></li>
                    
<!--                <li><a class="button" href="/submenu?subm=product">Product</a></li>   -->
                    
                    <li><a class="button" href="/gform/ReservaQuarto">ReservaQuarto</a></li>
                    
                    <li><a class="button" href="/submenu?subm=Reserva">Reserva</a></li>    
                    
                    
                    <li><a class="button" style="color:lightblue">User: {{ulogin}} </a></li>
                    
                    <br><br>
                    
                    {% if submenu == "Quarto" %}
                        <li><a class="button" href="/gform/Quarto?option=''&subm=Quarto">Quarto Form</a></li>
                        <li><a class="button" href="/gformT/Quarto?option=''&subm=Quarto">Quarto Tabela</a></li>
                        <li><a class="button" href="/quartos?option=''&subm=Quarto">Quarto Form teste</a></li>
                        <li><a class="button" href="/gform/TiposQuarto?option=''&subm=Quarto">Tipos Quarto</a></li>

                    {% endif %}
                
                    {% if submenu == "Reserva" %}
                        <li><a class="button" href="/subform/Fatura_FaturaReserva?option=''&subm=Reserva">Reserva line</a></li>
                        <li><a class="button" href="/order/mapa?option=''">Mapa encomendas</a></li>
                    {% endif %} 
                    
                    {% if submenu == "product" %}
                        <li><a class="button" href="/gform/Product?subm=product">Product</a></li>
                        <li><a class="button" href="/productform?subm=product">Product(foto)</a></li>
                    {% endif %} 
                    
                    
                    
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>