{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class = "dados">
        <img src="/static/images/{{cname}}.jpg" alt="{{cname}}" width="300" height="200">
        <h1>{{header}}</h1>
        <br>
        
        {% if falta_atributo == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Fatura não criado. Falta pelo menos um dos atríbutos.
        </div>
        {% endif %}
        
        {% if erro_formato_datas == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Fatura não criada. Erro na formatação das datas.
        </div>
        {% endif %}
        
        {% if user_notfound == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Fatura não criada. Utilizador não encontrado.
        </div>
        {% endif %}
        
        <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=edit'" class="button1">Edit</button>
        <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=delete'" class="button1">Delete</button>
        <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=insert'" class="button1">Insert</button>
        <button id="save" type="submit" form="form" class = "button1" {{butedit}}>Save</button>
        <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/faturaform?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=exit'" class="button1">Exit</button>
        <br><br>
            <form id="form" action="/faturaform?option=save" method="post">
                {% for key in att %}
                  <label for="{{key}}">{{des[loop.index-1]}}:</label>
                  {% if loop.index == 1 and butedit == 'enabled' and auto_number == 1 %}
                      <input type="text" disabled id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                  {%else%}                  
                      <input type="text" {{butedit}} id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                  {%endif%}
                  <br><br>
                {% endfor %}
        </form>
        <button id="first" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=first'" class="button1">First</button>
        <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=previous'" class="button1">Previous</button>
        <button id="next" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=next'" class="button1">Next</button>
        <button id="last" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=last'" class="button1">Last</button>
    </div>
    <br>
    <div class="dados">
        <h2>{{headerl}}</h2>
        
        {% if falta_atributo2 == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! A FaturaReserva náo foi criada. Faltam pelo menos 1 atributo.
        </div>
        {% endif %}
        
        {% if falta_reserva == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! A Reserva Não existe.
        </div>
        {% endif %}
        
        {% if diferentes_codigos_cliente == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Não foi possível criar a FaturaReserva. A Fatura e a Reserva têm de ter os mesmos codigos de cliente
        </div>
        {% endif %}
        
        {% if reserva_mesma_fatura == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Não foi possível criar a FaturaReserva. Não pode ter duas reservas com mesmo código para a mesma fatura.
        </div>
        {% endif %}
        
        <table>
            <tr>
              {% for header in desl %}
                  {% if loop.index > 1 %}
                      <th>{{header}}</th>
                  {% endif %}
              {% endfor %}
              <td><button id="addrow" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=addrow'" class="button1">+</button></td>
            </tr>
              {% for ob in objl %}
                <tr>
                  {% for key in attl %}
                      {% if loop.index > 1 %}
                          <td>{{ ob[key] }}</td>
                         {% endif %}
                  {% endfor %}
                  <td><button id="delrow" type="button" {{butshow}} onclick="window.location.href = '/faturaform?option=delrow_{{loop.index-1}}'" class="button1">-</button></td>
                </tr>
              {% endfor %}                
                    {% if butshow == 'disabled' and butedit == 'disabled' %}
                    <tr>
                        <form id="formrow" action="/faturaform?option=saverow" method="post">
                        {% for key in attl %}
                            {% if loop.index > 1 %}
                             <td><input type="text" id="{{key}}" name="{{key}}" value="" size="20"/></td>
                            {% endif %}
                        {% endfor %}
                        <td><button id="save" type="submit" form="formrow" class = "button1" >Save</button>
                            <button id="cancelrow" type="button" onclick="window.location.href = '/faturaform?option=cancelrow'" class="button1">Cancel</button></td>
                        </form>
                    <tr>
                  {% endif %}
        </table>
    </div>

{% endblock %}

