{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class = "dados">
        <img src="/static/images/{{cname}}.jpg" alt="{{cname}}" width="300" height="200">
        <h1>{{header}}</h1>
        <br>
        
         {% if hotel_notfound == 1 %}
         <div class="alert">
           <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
           Atenção! Quarto não criado. Hotel não encontrado.
         </div>
         {% endif %}
         
        {% if erro_andar == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Quarto não criado. O andar inserido não pertence à lista de andares do hotel
        </div>
        {% endif %}
        
        {% if tipou == "admin" %}
        <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=edit'" class="button1">Edit</button>
        <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=delete'" class="button1">Delete</button>
        <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=insert'" class="button1">Insert</button>
        <button id="save" type="submit" form="form" class = "button1" {{butedit}}>Save</button>
        <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/quartos?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=exit'" class="button1">Exit</button>
        {%endif%}
        
        <br><br>
        
            <table>
                <tr>
                <td>
                    <form id="form" action="/quartos?option=save" method="post">
                        {% for key in att %}
                          <label for="{{key}}">{{des[loop.index-1]}}:</label>
                          {% if loop.index == 1 and butedit == 'enabled' and auto_number == 1 %}
                              <input type="text" disabled id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                          
                          {%else%} 
                              {% if loop.index == 2 %}            
                                  <select name="_cod_hotel" id="_cod_hotel" {{butedit}} >
                                      {% if prev_option == 'insert' %}
                                          {% for valor in Hotel.values() %} 
                                          <option value="{{valor.codigo}}">{{valor.codigo}} - {{Hotel[valor.codigo].nome}} </option>
                                          {% endfor %}
                                      {%endif%}
                                          <option value="{{obj['_cod_hotel']}}" SELECTED>{{Hotel[obj['_cod_hotel']].codigo}} - {{Hotel[obj['_cod_hotel']].nome}}</option>        
                                  </select>
                                  
                              {% elif loop.index == 3  %}
                                  {% if prev_option == 'edit' %}
                                      <input type="text" disabled id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                                  {% else %}
                                       <input type="text" {{butedit}} id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                                  {% endif %}
                              {% elif loop.index == 4 %}            
                                  <select name="_tipoquarto" id="_tipoquarto" {{butedit}} >
                                      {% for valor in TiposQuarto.values() %} 
                                          <option value="{{valor.codigo}}">{{valor.codigo}} - {{TiposQuarto[valor.codigo].nome}} </option>
                                        
                                      {% endfor %}
                                          <option value="{{obj['_tipoquarto']}}" SELECTED>{{TiposQuarto[obj['_tipoquarto']].codigo}} - {{TiposQuarto[obj['_tipoquarto']].nome}}</option>        
                                  </select>
                                  
                              {% elif loop.index == 5  %}
                                  <input type="text" disabled id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                                  
                              {%else%}
                                  <input type="text" {{butedit}} id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                              {%endif%}
                          {%endif%}
                          <br><br>
                        {% endfor %}
                    </form>
                </td>
                
                <td>
                
                
                <img src="{{ url_for('static', filename='FotosQuartos/' + TiposQuarto[obj['_tipoquarto']].foto ) }}" alt="{{ obj.nome }}" width="350">
        
                </td>
                
                
                </tr>
            </table>
               
            
        <br>
        
        {% if tipou == "admin" %}
        <button id="first" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=first'" class="button1">First</button>
        <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=previous'" class="button1">Previous</button>
        <button id="next" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=next'" class="button1">Next</button>
        <button id="last" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=last'" class="button1">Last</button>
        {%endif%}    
        
        
        <br><br>
        <br><br>
        
        
        <br><br>
        <br><br>
        <br><br>
    </div>

{% endblock %}