{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class = "dados">
        <img src="/static/images/{{cname}}.jpg" alt="{{cname}}" width="300" height="200">
        <h1>{{header}}</h1>
        <br>
        
        {% if tipou == "admin" %}
        <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=edit'" class="button1">Edit</button>
        <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=delete'" class="button1">Delete</button>
        <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=insert'" class="button1">Insert</button>
        <button id="save" type="submit" form="form" class = "button1" {{butedit}}>Save</button>
        <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/quartos?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=exit'" class="button1">Exit</button>
        {%endif%}
        <br><br>
        
            <table>
                <tr>
                <td>
                    <form id="form" action="/quartos?option=save" method="post">
                        {% for key in att %}
                          <label for="{{key}}">{{des[loop.index-1]}}:</label>
                          {% if loop.index == 1 and butedit == 'enabled' and auto_number == 1 %}
                              <input type="text" disabled id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                          {%else%} 
                          
                              {% if loop.index == 3 %}            
                                  <select name="_tipoquarto" id="_tipoquarto" {{butedit}} >
                                      {% for valor in TiposQuarto.values() %} 
                                          <option value="{{valor.codigo}}">{{valor.codigo}} - {{TiposQuarto[valor.codigo].nome}} </option>
                                      {% endfor %}
                                          <option value="{{obj['_tipoquarto']}}" SELECTED>{{TiposQuarto[obj['_tipoquarto']].codigo}} - {{TiposQuarto[obj['_tipoquarto']].nome}}</option>        
                                  </select>
                              {%else%}
                                  <input type="text" {{butedit}} id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                              {%endif%}
                          {%endif%}
                          <br><br>
                        {% endfor %}
                    </form>
                </td>
                
                <td>
                Foto
                <iframe width="560" height="315" 
                    src="" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                
                </td>
                
                
                </tr>
            </table>
               
            
        <br>
        
        {% if tipou == "admin" %}
        <button id="first" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=first'" class="button1">First</button>
        <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=previous'" class="button1">Previous</button>
        <button id="next" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=next'" class="button1">Next</button>
        <button id="last" type="button" {{butshow}} onclick="window.location.href = '/quartos?option=last'" class="button1">Last</button>
        {%endif%}    
    </div>

{% endblock %}