{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class = "dados">
        <img src="/static/images/{{cname}}.jpg" alt="{{cname}}" width="300" height="200">
        <h1>{{header}}</h1>
        <br>
        
        {% if falta_atributo == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Reserva não criado/editado. Verifique os atríbutos inseridos.
        </div>
        {% endif %}
        
        {% if user_notfound == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Reserva não criada. Utilizador não encontrado.
        </div>
        {% endif %}
        
        {% if quarto_notfound == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Reserva não criada. Quarto não encontrado.
        </div>
        {% endif %}
        
        {% if quarto_reservado == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Reserva não criada. Quarto está reservado.
        </div>
        {% endif %}
        
        {% if erro_datas == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Reserva não criado/editado. Erro nas datas inseridas.
        </div>
        {% endif %}
        
        {% if erro_formato_datas == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Atenção! Reserva não criada. Erro na formatação das datas.
        </div>
        {% endif %}
        
        {% if tipou == "admin" %}
<!--    <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/reservaquarto?option=edit'" class="button1">Edit</button>  -->
        <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/reservaquarto?option=delete'" class="button1">Delete</button>
        <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/reservaquarto?option=insert'" class="button1">Insert</button>
        <button id="save" type="submit" form="form" class = "button1" {{butedit}}>Save</button>
        <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/reservaquarto?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/reservaquarto?option=exit'" class="button1">Exit</button>
        {%endif%}
        <br><br>
        
            <form id="form" action="/reservaquarto?option=save" method="post">
                {% for key in att %}
                  <label for="{{key}}">{{des[loop.index-1]}}:</label>
                  {% if loop.index == 1 and butedit == 'enabled' and auto_number == 1 %}
                      <input type="text" disabled id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                  {%else%}
                      {% if loop.index == 9 %}
                              <input type="text" disabled id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                      {%endif %}
                      {% if loop.index == 100 %}
                          <select name="{{obj[key]}}" id="{{obj[key]}}" {{butedit}} >
                              {% if prev_option == 'insert' %}
                                  {% for valor in ['True','False'] %} 
                                  <option value="{{obj[key]}}">{{valor}} </option>
                                  {% endfor %}
                              {%endif%}
                                  <option value="{{obj[key]}}" SELECTED>{{cname[obj[key]]}}</option>        
                          </select>
                      {% else %}                  
                          <input type="text" {{butedit}} id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                      {% endif %}
                  {%endif%}
                  <br><br>
                {% endfor %}
            </form>
        <br>
        {% if tipou == "admin" %}
        <button id="first" type="button" {{butshow}} onclick="window.location.href = '/reservaquarto?option=first'" class="button1">First</button>
        <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/reservaquarto?option=previous'" class="button1">Previous</button>
        <button id="next" type="button" {{butshow}} onclick="window.location.href = '/reservaquarto?option=next'" class="button1">Next</button>
        <button id="last" type="button" {{butshow}} onclick="window.location.href = '/reservaquarto?option=last'" class="button1">Last</button>
        {%endif%}    
    </div>

{% endblock %}