{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class = "dados">
        <img src="/static/images/{{cname}}.jpg" alt="{{cname}}" width="680" height="127">
        <h1>{{header}}</h1>
        <br>
        
        {% if tipou == "admin" %}
        <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/tiposquartos?option=edit'" class="button1">Edit</button>
        <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/tiposquartos?option=delete'" class="button1">Delete</button>
        <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/tiposquartos?option=insert'" class="button1">Insert</button>
        <button id="save" type="submit" form="form" class = "button1" {{butedit}}>Save</button>
        <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/tiposquartos?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/tiposquartos?option=exit'" class="button1">Exit</button>
        {%endif%}
        <br><br>
        
            <form id="form" action="/tiposquartos?option=save" enctype="multipart/form-data" method="post">
            <table>
            <tr>
            <td>
                {% for key in att %}
                  <label for="{{key}}">{{des[loop.index-1]}}:</label>
                  {% if loop.index == 1 and butedit == 'enabled' and auto_number == 1 %}
                      <input type="text" disabled id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                  {%else%}                  
                      <input type="text" {{butedit}} id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                  {%endif%}
                  <br><br>
                {% endfor %}
            </td>
            <td>
            
                {% if img %}
                    <img src="{{img}}" width="350">
                {% else %}
                    <h1>Sem foto</h1>
                {% endif %}
                <br> <input name="img" {{butedit}} type="file"/>
            
            </td>
            </tr>                
            </table>
            </form>
            
            
        <br>
        {% if tipou == "admin" %}
        <button id="first" type="button" {{butshow}} onclick="window.location.href = '/tiposquartos?option=first'" class="button1">First</button>
        <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/tiposquartos?option=previous'" class="button1">Previous</button>
        <button id="next" type="button" {{butshow}} onclick="window.location.href = '/tiposquartos?option=next'" class="button1">Next</button>
        <button id="last" type="button" {{butshow}} onclick="window.location.href = '/tiposquartos?option=last'" class="button1">Last</button>
        {%endif%}    
    </div>

{% endblock %}